<configuration>
    <property name="COMMON_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS Z, Asia/Kuala_Lumpur} [${HOSTNAME}] [%thread] %-5level %logger - [%X{apiMethodEndpoint}] [%X{reqId}] %msg%n" />
    <property name="ASYNC_QUEUE_SIZE" value="512" />

    <!--Appender block-->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <!---->


    <!--ASYNC block-->
    <appender name="ASYNC_STDERR" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>${ASYNC_QUEUE_SIZE}</queueSize>
        <appender-ref ref="STDERR"/>
    </appender>
    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>${ASYNC_QUEUE_SIZE}</queueSize>
        <appender-ref ref="STDOUT"/>
    </appender>
    <!---->


    <!--Logger block-->
    <root level="INFO">
        <appender-ref ref="ASYNC_STDERR"/>
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>
    <!---->

</configuration>